<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }


    </style>
</head>
<body>

<!-- Book edition -->
<form action="bookEdit.html" id="edit-form" th:action="@{/book/edit(id=${book.id})}" th:method="post">
    <h1>Edit book:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" readonly="readonly" th:value="${book.id}" type="text" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" th:value="${book.name}" type="text" value="Book name"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <input id="author-input" name="author.name" th:value="${book.author.name}" type="text" value="Author name"/>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <input id="genre-input" name="genre.name" th:value="${book.genre.name}" type="text" value="Genre name"/>
    </div>
    <div class="row">
        <button type="submit">Save</button>
    </div>
</form>

</body>
</html>
