<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all comments</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
        .comments, .comments td {
            border: 1px solid lightgray;
            padding: 5px;
            margin-bottom: 20px;
        }

        .actions, .actions td {
            padding: 5px;
        }


    </style>
</head>
<body>
<h1>Comments for book:</h1>
<h2 th:text="${book.name}">Book name</h2>

<table class="comments">
    <thead>
    <tr>
        <th>ID</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.id}">1</td>
        <td th:text="${comment.text}">Test Comment</td>
        <td>
            <a href="commentEdit.html" th:href="@{comment/edit(id=${comment.id})}">Edit</a>
        </td>
        <td>
            <a href="commentList.html" th:href="@{comment/delete(id=${comment.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<table class="actions">
    <tr>
        <td>
            <a class="btn btn-primary" href="commentEdit.html" th:href="@{/book/comment/add(id=${book.id})}">Add new
                comment</a>
        </td>
        <td>
            <a class="btn btn-primary2" href="bookList.html" th:href="@{/books}">To book`s list</a>
        </td>
    </tr>
</table>
</body>
</html>